body{
	background-image:url('img/les_fon_2.png');
	background-attachment: fixed;
}
input[type='button']{
	height:30px;
	min-width:60px;
}
figure{
	margin:0px;
}
figcaption{
	text-align: center;
}
td {
  text-align: left;
  vertical-align: top;
text-indent: 10px;}
p{
	margin-left:15px;
	margin-right:15px;
	text-align:justify;
	text-indent:30px;
	font-size:20px;
}
summary{
	background-color:rgba(189, 157, 128);
}
h4{
	font-family:segoe script;
	font-size:20px;
	position: relative;
	text-align:center;
	text-indent:350px;
	margin:5px;
}
a{
	color:inherit;
}
h2{
	font-family:segoe script;
	font-style:italic;
	font-size:35px;
}
.coolbg{
	margin:3px;
	background-color:#edd1bb;
	color:#5b3928;
}
.h{
	font-family:segoe script;
	font-size:45px;
	margin-top:30px;
}
.imagor{
	float:right;
	width:380px;
	font-size:20px;
	font-style:italic;
	color:#8a8472;
}
.imagol{
	float:left;
	width:380px;
	font-size:20px;
	font-style:italic;
	color:#8c8775;
}
.imagoor{
	float:right;
	width:550px;
	font-size:20px;
	font-style:italic;
	color:#8c8775;
}
.imagool{
	float:left;
	width:450px;
	font-size:20px;
	font-style:italic;
	color:#8c8775;
}
.imagoool{
	float:left;
	width:650px;
	font-size:20px;
	font-style:italic;
	color:#8c8775;
}
.imagooor{
	float:right;
	width:700px;
	font-size:20px;
	font-style:italic;
	color:#8c8775;
}
.podpis{
	background-color:#7a644e;
	height:25px;
	min-width:130px;
	color:#d6be92;
}
.head_content {
	vertical-align: middle;
}

.header{
	text-align:left;
	position: relative;
	float: up;
vertical-align: middle;
margin:5px auto;
height:230px;
color:#241b16;
width:85%;
	}
.boder{
	position: relative;
	width:95%;
	background-color:rgba(250,231,195,0.85);
	color:#5b3928;
	border: 1px solid #8c8473;
	border-radius: 15px;
	margin: auto;
}
.footer{
	position: relative;
	float: down;
	font-size:22px;
	text-indent:9px;
	background-color:rgba(189, 157, 128,0.75);
	border-radius:20px;
}
.dopper{
	position: relative;
	float: left;
	background-color:rgba(235, 212, 183,0.85);
	margin-right:8px;
	margin-bottom:8px;
	border: 2px solid #9e897ffc;
	border-radius: 15px;
}
.menu{
	background-color:rgba(235, 212, 183,0.85);
	border-radius:15px;
	height:80px;
	width:220px;
	font-family:segoe script;
	font-style:italic;
	font-size:25;
}
.menu:hover{
	background-color:rgb(220,201,165);
	height:85px;
	width:220px;
	border-radius:15px;
	font-family:segoe script;
	font-style:italic;
	font-size:25;
}
.task_done{
	background-color:#97a87a;
	border: 4px solid #635848;
	border-radius: 15px;
}
.task_undone{
	background-color:#8a645a;
	border: 4px solid #635848;
	border-radius: 15px;
}
.pri_low{
	background-color:#798a70;
	border-radius: 10px;
}
.pri_mid{
	background-color:#a68654;
	border-radius: 10px;
}
.pri_high{
	background-color:#b05353;
	border-radius: 10px;
}
